.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* padding: 0 50px 200px 50px; */
}
.passwordForm label {
    color: #fff;
    font-size: 50px;
}


@keyframes cursor-blink {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible
    }
  }
.passwordFormInputWrapper {
    position: relative;
  }

.passwordFormInputWrapper input{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    padding: 5px 30px;
    border-radius: 30px;
    background: transparent;
    border: #fff 2px solid;
    border: none;
    outline: none;
}

.passwordFormInputWrapper span{
    position: absolute;
    top: 7px;
    left: 30px;
    width: 0.5px;
    height: 36px;
    background: #fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}
.passwordFormInputWrapper input:focus + span{
    display: none;
}

.passwordFormErrorMessage{
    color: #fb231c;
}

.passwordForm button {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 28px;
    width: fit-content;
    cursor: pointer;
    align-self: center;
}
