.hintModal h1 {
    font-weight: 200;
}
.hintModal div {
    padding: 15px 0;
    line-height: 30px;
}

.hintLightBulb{
    text-shadow: 0px 0px 10px yellow;
    margin-right: 8px;
}

.hintModal p {
    display: inline;
}

.hintModal p a {
    position: relative;
}

/* .hintModal p a:hover{ 
    color: #ffffff;
    text-shadow: -2px -1px 5px #f7ff00;
} */

.hintModal p a::after{
    content: "";
    position: absolute;
    height: 6px;
    width: calc(100% + 10px);
    left: 0px;
    bottom: -1px;
    background: #ffef03ab;
}