.nextLevelButton{
    background: transparent;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin: 10px;
}
.nextLevelButton .successIcon {
    /* top | right | bottom | left */
    margin: 0 5px -100px 0 !important;
}