.levelScreen {
    min-height: 100vh;
    min-width: 550px;
    background-image: linear-gradient(to bottom right,#d43078,#ffef03);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.instructions, .password {
    font-size: 2.1rem;
    max-width: 800px;
    padding: 50px;
    display: block;
}
.password {
    width: fit-content;
}
.gif {
    height: 30%;
}
.buttons {
    display: flex;
    align-items: center;
    padding: 30px 80px;
    width: 100%;
    max-width: 770px;
    justify-content: space-around;
}

.buttons button{
    background: #ffffff47;
    font-size: 23px;
    cursor: pointer;
    margin: 10px;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    width: 250px;
}

/* .buttons button span {
    color: #ff006e;
} */

.buttons button:hover{
    background-color: #ff006c61;
}

/* .buttons button:hover span {
    color: #fff;
} */
