.levels {
    min-height: 100vh;
}
.levelsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
    max-width: 1100px;
    padding: 50px;
}
.levelBlock {
    height: 160px;
    width: 160px;
    background: #00000085;
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 15px 0 #b12d3b;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.levelBlock:hover{
    box-shadow: 0 0px 30px 0 #8e0033
}

.disabledLevelBlock {
    background: #ffffff45;
    box-shadow: 0 1px 7px 0 #ffffff45;
}
.disabledLevelBlock:hover {
    background: #ffffff45;
    box-shadow: 0 1px 7px 0 #ffffff45;
}
.levelBlock img {
    width: 100% !important;
    padding: 0 35px !important;
}

.levelBlock span {
    text-align: start;
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: orange;
}
