.nextLevelButton .successIcon {
    /* top | right | bottom | left */
    margin: 0 5px -100px 0 !important;
}

.nextLevelModal h1 {
    margin: 20px 0;
}

.nextLevelModal p {
    padding: 15px 10px;
    display: inline-block
}

.nextLevelModal p a{
    text-decoration: underline;
}